 
/* -----NavBar Styles------- */

.NavBar{
  background-color: rgb(122, 119, 119);
  display: flex;
  justify-content:space-between;
  padding: 10px 10px 10px 5px;
}

.NavBar-links .NavBar-links-categorias a{
  justify-content:space-between;
  padding: 0px 1pc 0 1px;
  color: aliceblue;
}

.NavBar-Inicio h2{
  color:aliceblue
}

.NavBar-btn{
  background-color: #f4511e;
  border: none;
  border-radius: 50%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  
}

.NavBar-Logo img{
  width: 90px;
  height: 80px;
  border: none;
  border-radius: 50%;
  
}

.NavBar-btn:hover {opacity: 1};


