.ItemBox{
    background-color: #8D99AE;
    color:#2B2D42;
    border-top: 1px solid;
     width: 30%; 
    display: flex;
    margin: 10px 0 0 0;
    flex-direction: column;
    box-sizing: content-box;
  
}